.side-bar
{
    position: absolute;
    width: 250px;
    height: 1000px;
    left: -0.5px;
    top: -1px;
    
    background:#BEC9F7;
}

/* Logo */
.logo_side{
    position: absolute;
    width: 50px;
    height: 10px;
    left: 0px;
    top: -39.22px;
}

/* Academics */
.acad{
    position: absolute;
    width: 250px;
    height: 225px;
    left: -5px;
    top: 150px;
    
    background: #BEC9F7;
    border-radius: 0px;
}
.bargraph{
    position: absolute;
    width: 10px;
    height: 20px;
    left: 60px;
    top: 20px;
    }
    
.academics_t{
    position: absolute;
    width: 241px;
    height: 77px;
    left: 10px;
    top: 120px;
    
    font-family: 'Karma';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 77px;
    text-align: center;
    
    color: #000000;
}

/* Personality */
.personality
{
    position: absolute;
    width: 240px;
    height: 150px;
    left: 2.34px;
    top: 350px;
    
    background: #BEC9F7;
    border-radius: 50px;
} 

.personality_i
{
    position: absolute;
    width: 199.12px;
    height: 194.5px;
    left: 30px;
    top: 20px;
}

.personality_t{
    position: absolute;
    width: 241px;
    height: 77px;
    left: 10px;
    top: 170px;
    
    font-family: 'Karma';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 77px;
    text-align: center;
    
    color: #FFFFFF;
}

/* Competency */
.competency{
position: absolute;
width: 200px;
height: 200px;
left: -4.34px;
top: 600px;

background: #BEC9F7;
border-radius: 50px;
}

.competency_i{
position: absolute;
width: 158px;
height: 138.62px;
left: 50px;
top: 80px;
}

.competency_t
{
position: absolute;
width: 282px;
height: 77px;
left: -10px;
top: 195px;

font-family: 'Karma';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 77px;
text-align: center;

color: #FFFFFF;
}

/* Interest */
.interest{
    position: absolute;
    width: 250px;
    height: 256px;
    left: -4.5px;
    top: 900px;
    
    background: #BEC9F7;
    border-radius: 50px;
}

.interest_i{
position: absolute;
width: 150px;
height: 100px;
left: 30px;
top: 5px;
}

.interest_t{
position: absolute;
width: 417px;
height: 77px;
left: -70px;
top: 130px;

font-family: 'Karma';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 77px;
text-align: center;

color: #FFFFFF;
}

.subject-list {
    list-style-type: none;
    padding: 0;
}
.subject-list li {
    display: inline-block;
    margin-right: 10px;
}

.group9{
position: absolute;
width: 80px;
height: 1000px;
left: 300px;
top: 5px;
}

.sylb{
position: absolute;
width: 1731px;
height: 100px;
left: 0px;
top: 15px;
}

.sylb_t{ 
position: absolute;
width: 808px;
height: 50px;
left: 10px;
top: 10px;

font-family: 'Lucida Calligraphy';
font-style: italic;
font-weight: 400;
font-size: 50px;
line-height: 98px;
/* identical to box height */

text-align: center;

color: #000000;
}

.sub{
    position: absolute;
    width: 1000px;
    height: 200px;
    left: 0px;
    top: 275px;
}

.sub_t{ 
    position: absolute;
    width: 808px;
    height: 50px;
    left: 10px;
    top: 200px;
    
    font-family: 'Lucida Calligraphy';
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 98px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
    }

    .marks{
        position: absolute;
        width: 1000px;
        height: 200px;
        left: 0px;
        top: 275px;
    
    }
    .marks_t{ 
        position: absolute;
        width: 808px;
        height: 50px;
        left: 10px;
        top: 100px;
        
        font-family: 'Lucida Calligraphy';
        font-style: italic;
        font-weight: 400;
        font-size: 50px;
        line-height: 98px;
        /* identical to box height */
        
        text-align: center;
        
        color: #000000;
        }
        .marks_f{
        position: absolute;
        width: 808px;
        height: 50px;
        left: 10px;
        top: 200px;
        }
.sylb_pos{
    position: absolute;
    width: 808px;
    height: 50px;
    left: 10px;
    top: 90px;
}
.Syllabus {
    list-style-type: none;
    padding: 0;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}